<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ca.footeware.logstash.category"
            name="Logstash">
      </category>
      <wizard
            canFinishEarly="false"
            category="ca.footeware.logstash.category"
            class="ca.footeware.logstash.wizards.NewLogstashConfigWizard"
            descriptionImage="icons/logstash-text.png"
            hasPages="true"
            icon="icons/logstash.png"
            id="ca.footeware.logstash.wizard"
            name="Logstash Configuration"
            project="false">
      </wizard>
      <primaryWizard
            id="ca.footeware.logstash.wizard">
      </primaryWizard>
   </extension>

</plugin>
